@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-slate-800;
  background-color: #eaf2fb;
  background-image: url("/bg-lab.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
